<div class="footer">
    <div class="w">
        <!-- 站点信息 -->
        <div class="Web_info">
            <!-- 站点名称 -->
            <div class="Web_name">
                <h1><a href="javascript:;">Yuexing</a></h1>
                <div class="dian"></div>
            </div>

            <!-- 站点描述 -->
            <div class="Web_describe">
                <p>© 2022 <a href="javascript:;">Yuexing</a> - 也许，将会是最好用的博客管理系统！</p>
                <p>Perhaps, it will be the best blog management system!</p>
            </div>
        </div>

        <!-- ICP备案号 -->
        <div class="ICP">
            <a href="https://beian.miit.gov.cn/#/Integrated/index"><i
                    class="iconfont icon-icp-license"></i>豫ICP备2020031040号-1</a>
        </div>
    </div>
</div>