<div class="links w">
    <h3>
        <i class="iconfont icon-lianjie1"></i>
        <span>友情链接</span>
        <a href="./links.html" style="float: right;font-size: 15px;">更多</a>
    </h3>

    <ul>
        <li>
            <a href="https://github.com/">GitHub</a>
        </li>
        <li>
            <a href="https://www.csdn.net/">CSDN</a>
        </li>
        <li>
            <a href="https://juejin.cn/">掘金</a>
        </li>
        <li>
            <a href="https://www.cnblogs.com/">博客园</a>
        </li>
        <li>
            <a href="https://segmentfault.com/">思否</a>
        </li>
    </ul>
</div>